# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\文档\开发项目\手写redis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
